include ../mixins/icons.pug

.home(data-background="#ffffff" data-color="#2F3538")
  nav.home__nav
    header.home__nav__header 
      video.home__nav__video(src="/assets/hero-video.mp4" controls=false playsinline autoplay muted) 
      +hero-icon('home__nav__icon')
    ul.home__nav__list 
      each item, index in data.nav
        li.home__nav__item(data-animation="title" data-delay=`${0.1 + index * 0.05}`)
          a(href=item.key)=item.text
  a.home__fixed(href="#contact") Contact
  button.home__menu 
    span.home__menu__line
    span.home__menu__line
    span.home__menu__line
  .home__hero 
    h1.home__hero__title(data-animation="text" data-delay="0.25")!=sanity.renderSanityText(sanity.hero.title[0]) 
    img.home__hero__background(src="/assets/hero-background.png", alt="hero-background")
  .home__manifesto#manifesto
    header.home__header
      h2.home__header__title(data-animation="text" data-delay="0.3")!=sanity.renderSanityText(sanity.manifesto.title[0]) 
      span.home__header__line(data-animation="appear" data-delay="0.5")
    .home__manifesto__inner
      button.home__manifesto__prev 
        +arrow-icon("")
      .home__manifesto__slider 
        ul.home__manifesto__list 
          each item, index in sanity.manifesto.items 
            li.home__manifesto__item
              .home__manifesto__item__infos 
                h3=(index + 1).toString().padStart(2, '0')
                h4=item.title 
                h5=item.subtitle 
                p=item.description
                +pincel-icon("")
              figure 
                img(src=sanity.urlFor(item.image, 1280), alt=item.image.alt)
      button.home__manifesto__next 
        +arrow-icon("")
  .home__achievements#achievements
    header.home__header.reversed
      h2.home__header__title(data-animation="text" data-delay="0.1")!=sanity.renderSanityText(sanity.achievements.title[0]) 
      span.home__header__line(data-animation="appear" data-delay="0.5")
    .home__achievements__inner
      if sanity.achievements.items.length > 0
        button.home__achievements__prev 
          +arrow-icon("")
      .home__achievements__slider 
        ul.home__achievements__list 
          each item, index in [...sanity.achievements.items, ...sanity.achievements.items,...sanity.achievements.items] 
            li.home__achievements__item
              header.home__achievements__item__header
                h2=item.title 
                if item.nouveau
                  h2.new Nouveau
              .home__achievements__item__inner
                figure.home__achievements__item__figure(data-images=JSON.stringify(item.images.map(img => ({ url: sanity.urlFor(img, 1280), alt: img.alt }))))
                  img(src=sanity.urlFor(item.images[0], 1280), alt=item.images[0].alt)
                  span.home__achievements__item__after Cliquez pour découvrir le projet
                .home__achievements__infos 
                  div.home__achievements__infos__content!=sanity.renderPortableText(item.description, '<span class="separator"></span>')
                  button.home__achievements__download Téléchargez la brochure
      if sanity.achievements.items.length > 0
        button.home__achievements__next 
          +arrow-icon("")
  .home__investment#investment
    header.home__header
      h2.home__header__title(data-animation="text" data-delay="0.1")!=sanity.renderSanityText(sanity.investment.title[0]) 
      span.home__header__line(data-animation="appear" data-delay="0.5")
    h3.home__investment__subtitle(data-animation="text" data-delay="0.2")!=sanity.renderSanityText(sanity.investment.subtitle[0])
    .home__investment__list 
      each item in sanity.investment.items 
        .home__investment__item 
          h3
            strong + 
            !=sanity.renderSanityText(item.title)
          .home__investment__sublist
            p.home__investment__item__description=item.description
            each subitem in item.subItems
              .home__investment__subitem
                header.home__investment__subitem__header
                  p=subitem.title 
                  p +
                div.home__investment__subitem__description!=sanity.renderPortableText(subitem.description)
  .home__expertise#expertise
    header.home__header.reversed
      h2.home__header__title(data-animation="text" data-delay="0.1")!=sanity.renderSanityText(sanity.expertise.title[0]) 
      span.home__header__line(data-animation="appear" data-delay="0.5")
    h3.home__expertise__subtitle(data-animation="text" data-delay="0.2")!=sanity.renderSanityText(sanity.expertise.subtitle[0])
    ul.home__expertise__list 
      each item in sanity.expertise.items
        li.home__expertise__item
          figure(data-animation="parallax")
            img(src=sanity.urlFor(item.image, 1280), alt=item.image.alt )
          div.home__expertise__item__infos
            h4=item.title
            p=item.description
            +pincel-icon("")
  .home__about#about
    header.home__header
      h2.home__header__title(data-animation="text" data-delay="0.1")!=sanity.renderSanityText(sanity.about.title[0]) 
      span.home__header__line(data-animation="appear" data-delay="0.5")
    .home__about__inner 
      .home__about__left
        figure 
          img(src=sanity.urlFor(sanity.about.leftBlock.image, 1280), alt=sanity.about.leftBlock.image.alt)
        p!=sanity.renderSanityText(sanity.about.leftBlock.image.description[0])
      .home__about__center
        p.home__about__center__description!=sanity.renderSanityText(sanity.about.leftBlock.description)
        .home__about__center__quote
          +pincel-icon("")
          p=sanity.about.leftBlock.quote
          +pincel-icon("")
      .home__about__right
        p.home__about__right__title=sanity.about.rightBlock.title
        p.home__about__right__description=sanity.about.rightBlock.description
        ul.home__about__right__list
          each item, index in sanity.about.rightBlock.items 
            li
              h4=item.number 
              p=item.text 
              if index != sanity.about.rightBlock.items.length - 1
                span
  footer.home__footer#contact 
    h2=sanity.footer.title
    .home__footer__inner 
      .home__footer__infos
        p.home__footer__address!=sanity.renderSanityText(sanity.footer.address[0]) 
        a(href=`tel:${sanity.footer.tel}`)=sanity.footer.tel
        a(href=`mailto:${sanity.footer.email}`)=sanity.footer.email 
        .home__footer__linkedin   
          p Retrouvez-nous sur
          a(href="https://www.linkedin.com/company/nouvel-edifice/" target="_blank") 
            img(src="/assets/linkedin.png", alt="linkedin icon")
      form.home__footer__form
        input.home__footer__input(type="text" placeholder='Nom*' id="name" required)
        .home__footer__form__group
          input.home__footer__input(type="tel" placeholder='Téléphone*' id="phone" required)
          input.home__footer__input(type="email" placeholder='Email*' id="email" required)  
        input.home__footer__input(type="text" placeholder='Message*' id="message" required)
        .home__footer__bottom
          .home__footer__checkbox 
            input(type="checkbox" id="checkbox" name="checkbox" required)
            label(for="checkbox") En cochant cette case, j’accepte d’être contacter afin de recevoir des informations et des propositions commerciales.
          button.home__footer__submit(type="submit") Envoyer
        .home__footer__help
          p * Champs obligatoires
          p.home__footer__help__message
    .home__footer__terms
      a(href="/legals")  MENTIONS LÉGALES
      p Design and creation: IMPACT COMMUNICATION & DESIGN.